/*
	Alex White
	10-28-19
	Revision -
*/

@font-face { font-family: 'Amatic SC'; src: url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap'); }

body {
	background-color:#85AF5C;
}

header, footer, nav, .jumbotron {
	background-color: #F9991C;
	color: #FFFFFF;
	padding: 10px;
	margin-bottom:0;
}

header, footer {
	text-align: center;
}

header {
	height: 175px;
}

h3, h1 {
	margin: 0;
}

footer {
	margin-top: 10px;
}

nav {
	border-top: 5px solid #355920;
	border-bottom: 5px solid #355920;
	margin-bottom: 10px;
}

nav .btn {
	background-color: #355920;
	color: #ffffff;
	border: thin solid #000000;
	color: #fef9ff;
	margin: 0px 10px;
}
nav .btn:hover {
	font-weight: bold;
}

nav .btn:visited {
	color: #7CD91F;
}

nav .btn:active {
	color: #000000;
}